@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

*, *:before, *:after {
  box-sizing: border-box;
}  

body {
  margin: 0;
  padding: 0;
  font-family: 'Muli', sans-serif;
}
/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

#map {
  width: 100%;
  height: 500px !important;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 768px) {
  #map {
    height: 100% !important;
    flex: 1;
  }
}

a {
  text-decoration: none;
}

.address-list-wrap {
  width: 100%;
  height: auto;
  z-index: 1;
  background: #e6e6e6;
}

@media only screen and (min-width: 768px) {
  .address-list-wrap {
    width: 300px;
    height: 100%;
    box-shadow: 1px 10px 20px 2px #c2c2c2;
  }
}

.list-wrap {
  height: 250px;
  overflow-y: scroll;
}

@media only screen and (min-width: 768px) {
  .list-wrap {
    height: calc(100% - 40px);
    overflow-y: scroll;
  }
}

@media only screen and (min-width: 768px) {
  .flex {
    display: flex;
  }
}

.wrapper {
  background: #b3dfff;
  height: 100%;
}

@media only screen and (min-width: 768px) {
  .wrapper {
    height: calc(100vh - 70px);
  }
}

.filter-wrap {
  background: #e2e1e1;
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  /* justify-content: center;
  flex-direction: column; */
  justify-content: initial;
  flex-direction: row;
}

.filter-wrap > div {
  width: auto;
  margin-bottom: 5px;
}
.filter-wrap > div:not(:last-child){
  margin-right: 10px;
}

.filter-wrap > div:last-child {
  margin-bottom: 0;
}

@media only screen and (min-width: 768px) {
  .filter-wrap > div {
    width: auto;
    margin-bottom: 0;
  }

  .filter-wrap {
    justify-content: initial;
    flex-direction: row;
  }
}

#addressInput, #resetButton {
  padding: 8px 16px;
  margin: 0;
  outline: none;
  font-size: 14px;
  background: transparent;
  height: 40px;
  font-weight: 400;
  border-radius: 2px;
}

#addressInput {
  border: 1px solid #ccc;
  background: #fff;
  width: 240px;
}

@media only screen and (min-width: 768px) {
  #addressInput {
    width: 400px;
  }
}

#resetButton {
  background: #5167A6;
  padding: 8px 15px;
  color: #ffffff;
  border-color: transparent;
  cursor: pointer;
}

#resetButton:hover {
  background: #303c61;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.list-wrap {
  padding: 0;
  margin: 0;
}

.name {
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 5px;
}

.address {
  background: transparent url(../image/ic_placeholder.svg) no-repeat left top 2px;
  background-size: 13px;
  padding-left: 20px;
}

.telephone {
  background: transparent url(../image/ic_telephone.svg) no-repeat left top 2px;
  background-size: 13px;
  padding-left: 20px;
}

.direction {
  background: transparent url(../image/ic_get-direction.svg) no-repeat left top 2px;
  background-size: 13px;
  padding-left: 20px;
}

.time {
  background: transparent url(../image/ic_time.svg) no-repeat left top 2px;
  background-size: 13px;
  padding-left: 20px;
}

.list-marker{
  cursor: pointer;
  border: 2px solid transparent;
  transition: all 0.3s ease-in-out;
}
.list-marker:hover{
  background: #f1f5ff;
  transition: all 0.3s ease-in-out;
}

.list-details {
  padding: 15px;
}

.list-marker .list-content > div {
  font-size: 14px;
  line-height: 20px; 
}

.list-marker .list-content > div:last-child {
  margin-bottom: 0;
}

.list-marker:not(:first-child) {
  border-top: 1px solid #d0cfcf;
}

.list-marker a {
  display: inline-block;
  color: #2f52b8;
}

.marker-detail {
  font-weight: 400;
}

.marker-detail .title {
  font-size: 15px;
  font-weight: bold;
  margin: 0 0 5px;
}

.marker-detail .city {
  display: block;
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 10px;
}

.marker-detail .address {
  display: block;
  margin-bottom: 5px;
}

.marker-detail .tel {
  display: block;
  margin-bottom: 5px;
}

.marker-detail .time {
  display: block;
  margin-bottom: 5px;
}

.marker-detail .direction {
  display: inline-block;
}

.marker-detail a {
  text-decoration: none;
  display: inline-block;
  margin-bottom: 5px;
}

.spinner {
  width: 30px;
  height: 30px;
  margin: 0 auto;
  position: relative;
  top: 50px;
  border: 3px solid rgb(190, 190, 190);
  border-top-color: #5167A6;
  border-radius: 50%;
  animation: rotation .8s ease infinite;
}

@-webkit-keyframes rotation {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.radius-select {
  position: relative;
  display: inline-block;
}

.select__arrow {
  position: absolute;
  top: 18px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 6px 4px 0 4px;
  border-color: #5167A6 transparent transparent transparent;
}

#radiusSelect {
  font-size: 14px;
  height: 40px;
  display: inline-block;
  font-weight: 400;
  padding: 10px 30px 10px 15px;
  cursor: pointer;
  outline: 0;
  border: 0;
  border-radius: 2px;
  background: #fff;
  color: #333333;
  border: 1px solid #ccc;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 100%;
}

@media only screen and (min-width: 768px) {
  #radiusSelect {
    width: auto;
  }
}

label {
  display: block;
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 14px;
  color: #5b72af;
}